<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="images/weather.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    
    <title>Weather App</title>
</head>
<body>
    <div class="main-content">
        {{>headers}}
        <p>Check you weather here</p>

        <form action="">
            <input type="text" placeholder="Your Location">
            <button>Search</button>
        </form>

        <p id="loading"></p>

        <p id="weather-message3"></p>
        <p id="weather-message1"></p>
        <p id="weather-message2"></p>
    </div>
    
    {{>footer}}

    <script src="js/app.js"></script>
</body>
</html>